$viewportTagPadding = 20px

.imageViewerViewport.empty ~ .ViewportOverlay
  display: none

.ViewportOverlay
  //theme('color', '$textSecondaryColor')
  color: #9CCEF9

  .overlay-element
    position: absolute
    font-weight: 400
    text-shadow: 1px 1px black
    pointer-events: none

  .top-left
    top: $viewportTagPadding
    left: $viewportTagPadding

  .top-center
    top: $viewportTagPadding
    padding-top: $viewportTagPadding
    width: 100%
    text-align: center

  .top-right
    top: $viewportTagPadding
    right: $viewportTagPadding
    text-align: right

  .bottom-left
    bottom: $viewportTagPadding
    left: $viewportTagPadding

  .bottom-right
    bottom: $viewportTagPadding
    right: $viewportTagPadding
    text-align: right

  &.controlsVisible
    .topright, .bottomright
      right: "calc(%s + 19px)" % $viewportTagPadding

  svg
    color: #9CCEF9
    fill: #9CCEF9
    stroke: #9CCEF9
    //theme('color', '$defaultColor')
    //theme('fill', '$defaultColor')
    //theme('stroke', '$defaultColor')
    background-color: transparent
    margin: 2px
    width: 18px
    height: 18px
