html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/**
 * Example Viewport Styles
 */

.viewport-container {
  border: 2px solid black;
}

.viewport-container.active {
  border: 2px solid dodgerblue;
}
